body {
	background-color: rgb(128, 128, 128);
}

#header {
	margin-left: 2%;
}

#navbar ul li {
	display: inline-block;
	float: right;
	margin-left: 5px;
}

#navbar ul li button {
	padding: 0;
	border: none;
	background: none;
	color: rgb(64, 64, 64);
}

#content {
	margin: 0px auto;
	width: 90%;
}
