#header {
	margin-left: 2%;
}

#navbar ul li {
	display: inline-block;
	float: right;
	margin-left: 5px;
}

#navbar ul li button {
	padding: 0;
	border: none;
	background: none;
}

#content {
	margin: 0px auto;
	width: 90%;
}
