body
{
	background-color: rgb(55, 0, 0);
}

#resume
{
	margin: 0;
	width: 50%;
	text-align: center;
	background-color: rgb(128, 128, 128);
	border-radius: 25px;
}

#resume li
{
	text-decoration: none;
}
