body
{
	background-color: rgb(20, 20, 20);
}

div.personalInfo, #content
{
	margin-left: 10%;
	margin-right: 35%;
	text-align: center;
	color: rgb(200, 200, 200);
	border-radius: 25px;
}

div.date, div.category, div.tag
{
	display: inline-block;
}

div.date, div.category, div.tag, div.title, div.mainPost, div.footNote
{
	color: rgb(250, 250, 250);
	background-color: rgb(20, 20, 20);
	border: 10px solid rgb(50, 50, 50);
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 50px;
	border-radius: 25px;
}
div.title
{
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10px;

}

div.blogPost
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div.buttons button, #links button.portfoliobutton, #assignments a
{
	background-color: rgb(128,128,128);
	border-radius:20px;
	color: rgb(0,0,0);
	font-size: 20px;
	cursor: pointer;
	border:none;
}

div.buttons button:hover, #assignments a:hover, #links button.portfoliobutton:hover
{
	background:rgb(50,50,50);
	box-shadow: 0px 0px 1px rgb(0,0,0);
	transition-duration: .5s;
}

#links button.portfoliobutton
{
	margin-bottom: 4px;
	margin-top: 4px;
	display: block;
}

#assignments ul
{
	list-style-type: none;
}

#assignments a
{
	display: inline-block;
	width: 200px;
	margin auto;
	margin-bottom: 4px;
	text-decoration: none !important;
}
