#pagesDiv
{
	width: 750px;
	margin: auto;
	margin-left: 15%;
}
#personalInfo
{
	margin-left: 10%;
}
div.date, div.category, div.tag 
{
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;
}